In [1]:
# Importamos las librerias a utilizar
import pandas as pd
import numpy as np
import sys
import os

# Definimos las rutas de los archivos a emplear
notebook_dir = os.getcwd()
scripts_dir = os.path.join(notebook_dir, "..", "src")
sys.path.append(scripts_dir)

# Funciones importadas como modulos
from data_transform.load_csv import load_csv
from data_transform.map_cimas_to_depth_multiple import map_cimas_create_columns
from data_transform.map_intervalos import generar_intervalos_disparados

# Codigo para imprimir mas de una salida de la misma celda
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# Definimos las rutas de los registros de pozo y cimas 
tops_file_name = "Cimas_C-71_P-101_P-111 1.csv"
path_well_tops = os.path.join(notebook_dir, "..", "data", "raw", tops_file_name)

# Cargamos la informacion de las cimas
well_tops_df = load_csv(path_well_tops)

# Cambiamos el tipo de columna a float
well_tops_df["md"] = well_tops_df["md"].astype(float)

# Ordena el DataFrame de cimas por 'MD' para asegurarte de que est√© en el orden correcto
well_tops_df = well_tops_df.sort_values(by='md')

# Borramos la cima "PT"
well_tops_df = well_tops_df[well_tops_df["surface"] != "PT"]

In [3]:
well_tops_df.head(20)

          wellname          md surface  zonedescription
0     Caparroso-71    0.000000    PJSL              NaN
1     Caparroso-71  515.640015    FLSL              NaN
2     Caparroso-71  638.460022    CNSR              NaN
99      Pijije-133  696.970000    CNSR              NaN
84      Pijije-125  716.500000    CNSR              NaN
137      Pijije-25  716.500000    CNSR              NaN
17      Pijije-101  725.170000    CNSR              NaN
60      Pijije-123  726.260000    CNSR              NaN
49    Pijije-31REE  728.430000    CNSR              NaN
110       Pijije-2  730.600000    CNSR              NaN
123      Pijije-23  731.680000    CNSR              NaN
74   Pijije-123REE  737.490000    CNSR              NaN
151      Pijije-27  740.360000    CNSR              NaN
33      Pijije-111  784.460000    CNSR              NaN
165      Pijije-34  788.080000    CNSR              NaN
3     Caparroso-71  794.030029    CNIR              NaN
34      Pijije-111  948.240000    CNIR              NaN
166      Pijije-34  948.610000    CNIR              NaN
85      Pijije-125  976.810000    CNIR              NaN
138      Pijije-25  976.810000    CNIR              NaN