In [1]:
-- Creamos la tabla wells
CREATE TABLE wells (
    well_id INT IDENTITY PRIMARY KEY,
    well VARCHAR(50) NOT NULL,
    field VARCHAR(50),
    top_md DECIMAL(10, 4),
    bottom_md DECIMAL(10, 4)
);

In [1]:
-- Cargamos la informacion de la tabla wells
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Caparroso-71', 'Caparroso-Pijije-Escuintle', 6120.7197265625, 499.903015136719);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Caparroso-75', 'Caparroso-Pijije-Escuintle', 5614.0656, 60.0);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-101', 'Caparroso-Pijije-Escuintle', 5233.1112, 0.0);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-111', 'Caparroso-Pijije-Escuintle', 5851.856, 0.0008);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-112', 'Caparroso-Pijije-Escuintle', 5149.962890625, 0.0620000213384628);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-117', 'Caparroso-Pijije-Escuintle', 5636.056640625, 0.0);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-125', 'Caparroso-Pijije-Escuintle', 5271.0588, 40.0812);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-127', 'Caparroso-Pijije-Escuintle', 5414.92431640625, 46.0247993469238);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-1A', 'Caparroso-Pijije-Escuintle', 6030.9252, 0.0);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-21', 'Caparroso-Pijije-Escuintle', 5332.0188, 0.0);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-25', 'Caparroso-Pijije-Escuintle', 5900.5472, 0.0764);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-25REE2', 'Caparroso-Pijije-Escuintle', 6049.9752, 0.0);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-27', 'Caparroso-Pijije-Escuintle', 5379.9, 27.6);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-31REE', 'Caparroso-Pijije-Escuintle', 4874.9712, 0.0);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-33', 'Caparroso-Pijije-Escuintle', 5068.062, 49.0728);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-34', 'Caparroso-Pijije-Escuintle', 4799.9904, 0.0);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-41', 'Caparroso-Pijije-Escuintle', 6334.0244, 500.0);
INSERT INTO wells (well, field, top_md, bottom_md) VALUES ('Pijije-42', 'Caparroso-Pijije-Escuintle', 4703.9784, 0.0);

In [3]:
-- Creamos la tabla logs
CREATE TABLE logs (
    log_id INT IDENTITY PRIMARY KEY,
    well_id INT NOT NULL,
     CONSTRAINT FK_logs_wells FOREIGN KEY (well_id)
        REFERENCES wells (well_id)
        ON DELETE CASCADE
        ON UPDATE CASCADE,
    well VARCHAR(50) NOT NULL,
    md VARCHAR(50),
    type VARCHAR(50),
    value INT NOT NULL
);